<app-modal
  [isModalVisible]="isForgotPasswordModalOpen()"
  [header]="'Új jelszó beállítása'"
  [size]="'medium'"
  [footerButtonLabel]="'Mentés'"
  [isFooterCancelVisible]="true"
  [formGroup]="forgotPasswordForm"
  [formTemplate]="forgotPassword"
  (submitEvent)="onSubmit($event)"
  (closeEvent)="closeModal()"
></app-modal>

<ng-template #forgotPassword>
  <form [formGroup]="forgotPasswordForm">
    <div class="form-group">
      <input type="email" id="forgot-email" formControlName="confirmEmail" placeholder=" " />
      <label for="forgot-email">E-mail cím:</label>
    </div>
    @if (
      forgotPasswordForm.get("confirmEmail")?.touched &&
      forgotPasswordForm.get("confirmEmail")?.invalid
    ) {
      <div class="alert">
        @if (forgotPasswordForm.get("confirmEmail")?.hasError("required")) {
          <small> Az e-mail cím megadása kötelező! </small>
        }
        @if (forgotPasswordForm.get("confirmEmail")?.hasError("invalidEmail")) {
          <small> Érvénytelen e-mail cím formátum! </small>
        }
      </div>
    }

    <div class="form-group">
      <input type="password" id="new-password" formControlName="password" placeholder=" " />
      <label for="new-password">Új jelszó:</label>
    </div>
    @if (
      forgotPasswordForm.get("newPassword")?.touched &&
      forgotPasswordForm.get("newPassword")?.invalid
    ) {
      <div class="alert">
        @if (forgotPasswordForm.get("newPassword")?.hasError("required")) {
          <small> Az új jelszó megadása kötelező! </small>
        }
        @if (forgotPasswordForm.get("newPassword")?.hasError("minlength")) {
          <small> A jelszónak legalább 6 karakter hosszúnak kell lennie! </small>
        }
      </div>
    }

    <div class="form-group">
      <input
        type="password"
        id="password-confirm"
        formControlName="passwordConfirm"
        placeholder=" "
      />
      <label for="password-confirm">Jelszó mégegyszer:</label>
    </div>

    @if (
      forgotPasswordForm.get("passwordConfirm")?.touched &&
      forgotPasswordForm.get("passwordConfirm")?.invalid
    ) {
      <div class="alert">
        @if (forgotPasswordForm.get("passwordConfirm")?.hasError("required")) {
          <small> A jelszót meg kell erősíteni! </small>
        }
        @if (forgotPasswordForm.get("passwordConfirm")?.hasError("passwordConfirm")) {
          <small> A jelszavak nem egyeznek!</small>
        }
      </div>
    }
  </form>
</ng-template>
