<div class="view-toggle">
  <button (click)="toggleViewMode()">
    Nézet

    <i
      class="fa-solid"
      [ngClass]="{
        'fa-border-all': viewMode === 'list',
        'fa-list': viewMode === 'grid'
      }"
    ></i>
  </button>
</div>
<!-- Kártyás nézet (grid) -->
@if(viewMode === 'grid'){
<div class="grid" [appFadeSwitch]="fadeSwitchState">
  @for (receipt of filteredList; track receipt.id){
  <div class="col">
    <app-receipt-card [receipt]="receipt" [user]="user()!"></app-receipt-card>
  </div>
  }
</div>
}@else {
<!-- Lista nézet  -->
<div class="list" [appFadeSwitch]="fadeSwitchState">
  @for (receipt of filteredList; track receipt.id){
  <div class="list-item">
    <app-receipt-list-item
      [receipt]="receipt"
      [user]="user()!"
    ></app-receipt-list-item>
  </div>
  }
</div>
}
