@use "../variables/colors" as c;

.list-item-content {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: white;
}

.list-item-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 8px;
}

.list-item-name {
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.list-item-footer {
  display: flex;
  justify-content: end;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;

  .icons {
    display: flex;
    gap: 10px;

    i {
      color: c.$blue;
      text-shadow: 0 0 1px #000;
      transition: all 0.5s ease-in-out;
      cursor: pointer;

      &:hover {
        transform: scale(1.3);
        color: c.$hover-color;
      }
    }
  }
}

@media (max-width: 700px) {
  /*  .list-item-content {
    display: flex;
    flex-direction: column;
  } */
}
