/* $dark_green: #244f26;
$lighter_gren: #8bd261;
$light_green: #d4df9e;
$light_blue: #f3d188;
$blue: #f4c661;
$turquoise: #e06a2b;
$lighter_blue: #f9b22f;
$saved_blue: #f3d899;
$hover-color: #faaf3e;
$text-shadow: 0 0 1px #000; */

$light_blue: #caf0f8;
$dark_blue: #03045e;
$blue: #0096c7;
$turquoise: #80cbc4;
$lighter_blue: #b4ebe6;
$saved_blue: #00b4d8;
$hover-color: #48cae4;
$text-shadow: 0 0 1px #000;
