@use "../styles/variables/colors" as c;

.hidden {
  opacity: 0;
  visibility: hidden;
}

.transition {
  transition:
    opacity 0.5s ease-in-out,
    visibility 0.5s ease-in-out;
}

.authentication-warning {
  p {
    font-size: 1.1rem;
  }
}

.w-85 {
  /* width: 85%; */
  margin-inline: 10%;
}

.fa-trash,
.fa-circle-check {
  color: c.$blue;
  transition: color 0.3s ease-in-out;
  &:hover {
    color: c.$hover-color;
  }
}
