@use "../variables/colors" as c;

button {
  border: 0px solid transparent !important;
  border-radius: 10px !important;
  font-weight: 500;
  color: #000;
  box-shadow: 0 0 2px #000;
  text-transform: uppercase !important;
  letter-spacing: 2px;
  z-index: 1;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in-out !important;
  padding: 5px 10px !important;
  text-wrap: wrap;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-color: c.$yellow;
  }
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    transition: all 0.5s ease-in-out !important;
    z-index: -1;
    background-color: #faaf3e;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: rgba(196, 192, 192, 0.608);

    &:after,
    &:before {
      background-color: rgba(196, 192, 192, 0.608);
      width: 100% !important;
    }
  }

  &:hover {
    &:before {
      width: 100%;
    }
  }
}

@media (max-width: 900px) {
  /*  button {
    font-size: 0.8rem !important;
  } */
}
@media (max-width: 850px) {
  /* button {
    font-size: 0.7rem !important;
  } */
}
@media (max-width: 768px) {
  /* button {
    font-size: 0.9rem !important;
  } */
}
