<div class="profile-container">
  <div class="left">
    <!-- <div class="photo">
      <img [src]="user()?.profilePictureUrl" />
    </div>
    <div class="description">
      <div class="name">{{ user()?.name }}</div>
      <p>&#64;{{ user()?.username }}</p>
      <div>{{ user()?.description }}</div>
      <div class="numbers">
        <span>
          <i class="fa-solid fa-receipt"></i>
          {{ user()?.createdReceiptsId?.length ?? 0 }}</span
        >
        <span
          ><i class="fa-solid fa-heart pe-2"></i>
          {{ userReceiptsLikes() }}</span
        >
      </div>
    </div>
    <hr />
    @if(customerOwnProfile()) {
    <ng-container *ngTemplateOutlet="leftEditSide"></ng-container>
    } -->
    <app-user-data
      [user]="user()"
      [userReceiptsLikes]="userReceiptsLikes()"
      [customerOwnProfile]="customerOwnProfile()"
    >
    </app-user-data>
  </div>
  <div class="right">
    <div class="menu">
      @for(item of menuItems; track item.name){
      <button
        type="button"
        (click)="onMenuItemClick(item.name)"
        [ngClass]="{ active: item.name === activeMenu() }"
      >
        {{ item.label }}
      </button>

      }
    </div>
    <app-user-receipts
      [activeMenu]="activeMenu()"
      [userSavedReceipts]="userSavedReceipts()"
      [menuList]="menuList()"
      [userCollections]="userCollections()"
      [clickedFolder]="clickedFolder()"
      (folderClicked)="onFolderClick($event)"
      (navigateToReceipt)="navigateToReceipt($event)"
      (clickedFolderChange)="clickedFolder.set(null)"
    >
    </app-user-receipts>
  </div>
</div>
