@use "../../../assets/styles/variables/colors" as c;

$background-overlay: rgba(255, 255, 255, 0.2);
$border-radius: 15px;

section {
  background: linear-gradient(to left, c.$blue 0%, c.$turquoise 100%);
  span {
    font-size: 1.2rem;
  }
  .content {
    padding-top: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
      mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0) 80%);
    }

    .title {
      width: 50%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
      gap: 20px;

      h1 {
        font-weight: bold;
      }
      p {
        font-style: italic;
        letter-spacing: 5px;
        font-size: 1.2rem;
      }
      button {
        align-self: self-start;
        border-radius: 15px !important;
        text-transform: capitalize !important;
        transform: scale(1.2);
        box-shadow: 0 0px 10px 5px rgba(255, 255, 255, 0.479);
        transition: all 0.5s ease-in-out;
        &:hover,
        &:focus,
        &:active {
          box-shadow: 0 0px 10px 5px rgba(0, 0, 0, 0.3);
        }
      }
    }
  }
}

#popular-content,
#new-content {
  height: 70%;
  padding-top: 20px;
  position: relative;

  .new,
  .popular {
    background-color: $background-overlay !important;
    height: 100%;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 50px;
    padding-block: 20px;

    p {
      padding-left: 20px;
      font-size: 1.5rem;
      letter-spacing: 2px;
      font-weight: bold;
      color: black;

      &.navigate {
        font-size: 1rem;
        display: inline-block;
        position: relative;
        cursor: pointer;
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          transform: scaleX(0);
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: #000000;
          transition: transform 0.25s ease-out;
        }
        &:hover::after {
          transform: scaleX(1);
        }
        i {
          margin-left: 10px;
        }
      }
    }
  }

  .landing-receipts {
    margin-top: 2%;
    display: flex;
    justify-content: space-evenly;

    .receipt {
      background-color: $background-overlay !important;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 250px;
      width: 300px;
      justify-content: space-around;
      transition: all 0.5s ease-in-out;
      border-radius: $border-radius;
      cursor: pointer;
      overflow: hidden;
      position: relative;

      .open-icon {
        position: absolute;
        bottom: 10px;
        opacity: 0;
        transition: all 0.4s ease-in-out;
        font-size: 1.8rem;
        color: c.$dark_blue;
        transform: translateY(20px);
      }

      .receipt-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;

        .food {
          border-radius: 10px;
          width: 150px;
          height: 150px;
          object-fit: cover;
        }
        span {
          font-weight: bold;
          text-align: center;
          font-size: 1.1rem;
          padding-top: 10px;
        }
      }

      &:hover {
        .receipt-content {
          opacity: 0.4;
        }
        .open-icon {
          opacity: 1;
          transform: translateY(-100px);
        }
      }
    }
  }
}

#creators {
  height: 70%;
  padding-top: 20px;
  .new {
    background-color: $background-overlay !important;
    height: 100%;
    .header {
      padding-inline: 50px;
      padding-block: 20px;

      p {
        font-size: 1.5rem;
        letter-spacing: 2px;
        font-weight: bold;
        color: black;
      }
    }
  }

  .carousel {
    .carousel-item {
      padding-block: 20px;
      background-color: $background-overlay;
      border: 1px solid white;
      width: 100%;
      border-radius: $border-radius;
      cursor: pointer;

      img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        display: block;
        margin: 0 auto;
      }
      .caption {
        padding-top: 10px;
        bottom: 0;
        text-align: center;
        margin-bottom: 50px;
      }
    }

    .carousel-control-prev,
    .carousel-control-next {
      height: 50%;
      box-shadow: none;
      align-self: center;
      &::before,
      &::after {
        content: none;
      }
    }
  }
}

#footer {
  padding-top: 20px;
  text-align: center;
  color: black;

  .footer-container {
    padding-inline: 20px;
    padding-block: 50px;
    background-color: $background-overlay;
    color: c.$dark_blue;
    display: flex;
    flex-direction: column;
    align-items: center;

    .footer-header {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      gap: 5px;
      span {
        font-size: 1.5rem;
        font-weight: bold;
      }
    }

    .form-group {
      min-width: 240px;
      width: 25%;
      input {
        background-color: c.$light_blue;
        height: 40px;

        &:focus ~ label {
          color: white;
          top: -20px;
        }
      }
      label {
        top: 8px;
      }
    }

    .socials {
      margin-top: 1rem;

      i {
        margin: 0 10px;
        font-size: 1.4rem;
        color: c.$dark_blue;
        cursor: pointer;
        transition: all 0.4s ease-in-out;
        &:hover {
          color: white;
        }
      }
    }

    hr {
      color: white;
      height: 1px;
      width: 80%;
      border-width: 2px;
    }
    .footer-bottom {
      padding-top: 1rem;

      p {
        margin: 0;
        color: c.$dark_blue;
        font-size: 1rem;
        font-style: italic;
      }

      .footer-links {
        margin-top: 0.5rem;

        a {
          margin: 0 10px;
          color: c.$dark_blue;
          text-decoration: none;
          transition: all 0.4s ease-in-out;

          &:hover {
            color: white;
          }
        }
      }
    }
  }
}

.show {
  opacity: 1 !important;
  transform: translateY(0) !important;
  transition: all 0.8s ease-in-out;
}

.hidden {
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 950px) {
  #popular-content,
  #new-content {
    height: 100%;
    .header {
      flex-direction: column;
      text-align: center;

      p {
        padding-left: 0;
      }
    }
    .landing-receipts {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;

      .receipt {
        width: 90%;
      }
    }
  }
}

@media (max-width: 450px) {
  .footer-bottom {
    display: flex;
    flex-direction: column-reverse;
    .footer-links a {
      display: flex;
      flex-direction: column;
      padding: 10px;
    }
  }
}
