<section id="header">
  <div class="content">
    <div class="title">
      <h1>Fedezz fel új recepteket, oszd meg kedvenceidet, és készítsd el őket!</h1>
      <p>Fedezz fel új és izgalmas recepteket, amelyeket könnyedén elkészíthetsz otthon is!</p>
      <button (click)="navigateToReceipts()">Receptek</button>
    </div>
    <img [src]="foodImg" alt="" />
  </div>
</section>

<section id="popular-content">
  <div class="popular">
    <div class="header">
      <p>Népszerű receptek</p>
      <p class="navigate">Megtekintés<i class="fa-solid fa-angle-right"></i></p>
    </div>
    <div class="landing-receipts">
      @for (receipt of topReceipts; track receipt.id) {
        <div class="receipt">
          <div class="receipt-content">
            <img class="food" [src]="receipt.imageUrl" alt="" />
            <span>{{ receipt.name }}</span>
          </div>

          <i
            class="fa-solid fa-up-right-from-square open-icon"
            (click)="navigateToReceipt(receipt)"
            (keyup)="navigateToReceipt(receipt)"
            tabindex="0"
          ></i>
        </div>
      }
    </div>
  </div>
</section>

<section id="new-content">
  <div class="new">
    <div class="header">
      <p>Új receptek</p>
      <p class="navigate">Megtekintés<i class="fa-solid fa-angle-right"></i></p>
    </div>
    <div class="landing-receipts">
      @for (receipt of newRceipts; track receipt.id) {
        <div class="receipt">
          <div class="receipt-content">
            <img class="food" [src]="receipt.imageUrl" alt="" />
            <span>{{ receipt.name }}</span>
          </div>

          <i class="fa-solid fa-up-right-from-square open-icon"></i>
        </div>
      }
    </div>
  </div>
</section>

<section id="creators">
  <div class="new">
    <div class="header">
      <p>Népszerű receptkészítők</p>
    </div>
    <div class="carousel slide" id="carousel" data-bs-wrap="true" data-bs-ride="carousel">
      <div class="carousel-inner">
        @for (user of users; track user.userId; let i = $index) {
          <div
            class="carousel-item"
            [ngClass]="{ active: i === 0 }"
            data-bs-interval="2000"
            (click)="navigateToUser(user)"
            (keyup)="navigateToUser(user)"
            tabindex="0"
          >
            <img [src]="user.profilePictureUrl" alt="" />
            <div class="caption">
              <span>{{ user.name }}</span>
              <p>{{ user.description }}</p>
            </div>
          </div>
        }
      </div>

      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carousel"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon"></span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carousel"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon"></span>
      </button>

      <div class="carousel-indicators">
        <button
          type="button"
          class="active"
          data-bs-target="#carousel"
          data-bs-slide-to="0"
        ></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="2"></button>
      </div>
    </div>
  </div>
</section>

<section id="footer">
  <div class="footer-container">
    <div class="footer-header">
      <span>Csatlakozz a RecepTár közösséghez!</span>
      <p>Iratkozz fel a hírlevelünkre a legújabb receptekért.</p>
    </div>
    <div class="form-group">
      <input type="email" id="email" formControlName="email" placeholder=" " />
      <label for="email">E-mail cím:</label>
    </div>

    <button type="button">Feliratkozom</button>

    <div class="socials">
      <i class="fa-brands fa-facebook-f"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-youtube"></i>
    </div>
    <hr />
    <div class="footer-bottom">
      <p>&copy; {{ currentYear }} RecepTár</p>
      <div class="footer-links">
        <a href="#">Adatvédelem</a>
        <a href="#">Felhasználási feltételek</a>
        <a href="#">Kapcsolat</a>
      </div>
    </div>
  </div>
</section>
