<app-modal
  [isModalVisible]="isRegistrationModalOpen()"
  [header]="'Regisztráció'"
  [size]="'medium'"
  [footerButtonLabel]="'Regisztráció'"
  [isFooterCancelVisible]="true"
  [formGroup]="registrationForm"
  [formTemplate]="registration"
  (submitEvent)="onSubmit($event)"
  (closeEvent)="closeModal()"
></app-modal>

<ng-template #registration>
  <form [formGroup]="registrationForm">
    <div class="form-group">
      <input type="email" id="email" formControlName="email" placeholder=" " />
      <label for="email">E-mail cím:</label>
    </div>
    @if (registrationForm.get("email")?.touched && registrationForm.get("email")?.invalid) {
      <div class="alert">
        @if (registrationForm.get("email")?.hasError("required")) {
          <small>Az e-mail cím megadása kötelező!</small>
        }
        @if (registrationForm.get("email")?.hasError("invalidEmail")) {
          <small>Érvénytelen e-mail cím formátum!</small>
        }
      </div>
    }
    <div class="form-group">
      <input type="text" id="name" formControlName="name" placeholder=" " />
      <label for="name">Név:</label>
    </div>
    @if (registrationForm.get("name")?.touched && registrationForm.get("name")?.invalid) {
      <div class="alert">
        @if (registrationForm.get("name")?.hasError("required")) {
          <small>A név megadása kötelező!</small>
        }
      </div>
    }
    <div class="form-group">
      <input type="text" id="username" formControlName="username" placeholder=" " />
      <label for="username">Felhasználónév:</label>
    </div>
    @if (registrationForm.get("username")?.touched && registrationForm.get("username")?.invalid) {
      <div class="alert">
        @if (registrationForm.get("username")?.hasError("required")) {
          <small>A felhasználónév megadása kötelező!</small>
        }
      </div>
    }
    <div class="form-group">
      <input type="password" id="password" formControlName="password" placeholder=" " />
      <label for="password">Jelszó:</label>
    </div>
    @if (registrationForm.get("password")?.touched && registrationForm.get("password")?.invalid) {
      <div class="alert">
        @if (registrationForm.get("password")?.hasError("required")) {
          <small>A jelszó megadása kötelező!</small>
        }
        @if (registrationForm.get("password")?.hasError("minlength")) {
          <small>A jelszónak legalább 6 karakter hosszúnak kell lennie!</small>
        }
      </div>
    }
    <div class="form-group">
      <input
        id="passwordConfirm"
        type="password"
        formControlName="passwordConfirm"
        placeholder=" "
      />
      <label for="passwordConfirm">Jelszó megerősítése:</label>
    </div>
    @if (
      registrationForm.get("passwordConfirm")?.touched &&
      registrationForm.get("passwordConfirm")?.invalid
    ) {
      <div class="alert">
        @if (registrationForm.get("passwordConfirm")?.hasError("required")) {
          <small>A jelszót meg kell erősíteni!</small>
        }
        @if (registrationForm.get("passwordConfirm")?.hasError("passwordConfirm")) {
          <small>A jelszavak nem egyeznek!</small>
        }
      </div>
    }
  </form>
</ng-template>
