<div class="custom-navbar">
  <div
    class="logo-container"
    (click)="navigateToLandingPage()"
    (keydown)="navigateToLandingPage()"
    tabindex="0"
  >
    <img class="logo" src="../../../../assets/images/logo.svg" alt="" />
    <span>FoodShare</span>
  </div>
  <div class="search-select">
    <div class="custom-search">
      <i class="fa-solid fa-search ps-1 pe-2"></i>
      <input
        type="text"
        placeholder="Keresés"
        [(ngModel)]="searchText"
        (input)="onSearchChange()"
        (ngModelChange)="onSearchChange()"
      />
    </div>

    <!-- TODO: ha  a recept oldalán van akkor ezek kellenek-e? -->
    <div class="custom-select ps-3">
      <div
        class="custom-select-input"
        [ngClass]="{ active: isDropdownOpen }"
        (click)="isDropdownOpen = !isDropdownOpen"
        (keyup)="isDropdownOpen = !isDropdownOpen"
        tabindex="0"
      >
        <div class="text-container">
          {{
            selectedCategories.length > 0 ? formatSelectedCategory(selectedCategories) : "Kategória"
          }}
        </div>
        <div class="icon-container">
          <i
            class="fa-solid"
            [ngClass]="{
              'fa-sort-up': !isDropdownOpen,
              'fa-sort-down': isDropdownOpen,
            }"
          ></i>
        </div>
      </div>
      <div class="custom-dropdown-menu" *ngIf="isDropdownOpen">
        <ul>
          @for (category of categoryEnum; track $index) {
            <li
              [ngClass]="{ 'active-item': selectedCategories.includes(category) }"
              (click)="onChangeCategoryClick(category)"
              (keyup)="onChangeCategoryClick(category)"
              tabindex="0"
            >
              {{ category }}
            </li>
          }
        </ul>
      </div>
    </div>
  </div>

  <div
    class="user-icon"
    (click)="isUserMenuOpen.set(!isUserMenuOpen())"
    (keyup)="isUserMenuOpen.set(!isUserMenuOpen())"
    tabindex="0"
  >
    @if (!user()) {
      <i class="fa-regular fa-circle-user"></i>
    } @else {
      <div class="user-photo">
        <img [src]="user()?.profilePictureUrl" [alt]="user()?.name" />
      </div>
    }
  </div>

  @if (isUserMenuOpen()) {
    <div class="user-menu">
      @if (user()) {
        @if (user()?.profilePictureUrl) {
          <div class="user-photo">
            <img [src]="user()?.profilePictureUrl" [alt]="user()?.name" />
          </div>
        }
        <p>
          <strong>{{ user()?.name }}</strong>
        </p>
        <p>&#64;{{ user()?.username }}</p>
        <button (click)="openUserPage()">Profil</button>
        <button (click)="logout()">Kijelentkezés</button>
      } @else {
        <button
          (click)="isLoginModalOpen.set(!isLoginModalOpen()); isRegistrationModalOpen.set(false)"
        >
          Bejelentkezés
        </button>
        <button
          (click)="
            isRegistrationModalOpen.set(!isRegistrationModalOpen()); isLoginModalOpen.set(false)
          "
        >
          Regisztráció
        </button>
      }
    </div>
  }
</div>
@if (isLoginModalOpen()) {
  <app-login [isLoginModalOpen]="isLoginModalOpen()" (closeEvent)="closeModal()"></app-login>
}
@if (isRegistrationModalOpen()) {
  <app-registration
    [isRegistrationModalOpen]="isRegistrationModalOpen()"
    (closeEvent)="closeModal()"
  ></app-registration>
}
