@use "../../../../assets/styles/variables/colors" as c;

.back-button {
  width: 30%;
  button {
    display: inline-block;
    width: 90%;
    border: 1px solid transparent;
    border-radius: 10px;
    margin: 0 0 15px;
    padding: 5px 0px;
    font-weight: 500;
    color: #000;
    box-shadow: 0 0 2px #000;
    transition: all 0.5s ease-in-out;
    position: relative;
    overflow: hidden;
    font-size: 0.9rem;
    z-index: 1;
    text-transform: uppercase;
    background-color: c.$yellow;

    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      transition: all 0.5s ease-in-out;
      z-index: -1;
      background-color: #faaf3e;
    }

    &:hover {
      border: 1px solid black;
      border: 1px solid black;
      border-radius: 10px;
      transform: scale(1.005);
      &:before {
        width: 100%;
      }
    }

    &.active {
      background-color: #faaf3e;
    }
  }
}
.receipts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  overflow-y: auto;

  i {
    color: #faaf3e;
    font-size: 2rem;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.receipt-card {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  width: 200px;
  cursor: pointer;

  .img-container {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;

    .fixed-img {
      border-radius: 10px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.5s ease-in-out;

      &:hover {
        opacity: 0.7;
        transform: scale(1.2);
      }
    }
  }
}
.folders {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  cursor: pointer;
  i {
    color: #faaf3e;
    font-size: 2rem;
    transition: transform 0.5s ease-in-out;
    /*  &:hover {
      transform: scale(1.1);
    } */
  }
  .folder-card {
    transition: transform 0.5s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
  }
}
